<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tableau de bord</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Bienvenue sur le Tableau de bord</h1>
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Profil</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                convallis libero quis vehicula vehicula.
              </p>
              <a href="#" class="btn btn-primary">Voir le profil</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Paramètres</h5>
              <p class="card-text">
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas.
              </p>
              <a href="#" class="btn btn-primary">Ouvrir les paramètres</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Notifications</h5>
              <p class="card-text">
                Vivamus sit amet lacinia turpis. Mauris accumsan risus ut libero
                bibendum, a lobortis nunc ultricies.
              </p>
              <a href="#" class="btn btn-primary">Voir les notifications</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript de Bootstrap et dépendances -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
      integrity="sha384-D65Bc4Iykb7Y+L3qkwKG1JYDU6ZJwz0nGG2P1FQaDJpwYL5BtY8fBvEpfTN5tkIh"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+TpC4Ka8fG2s4hKCHwwD/MbV/pL+1kquMqV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
